<html>
  <head>
    <title>Verify your email address</title>
  </head>
  <body>
    <h1>Hey, {{ user.first_name }}!</h1>
        <h2> Click the link to verify your email:
        <a href="http://cloudevsolutions.pythonanywhere.com/verify/{{ code }}">Verify your account !</a>
        </h2>
    <p>
      We're glad you decided to join the ClouDev-Solutions community. We hope you have a great time using our service.
    </p>
    <p>
      If you have any questions or need assistance, don't hesitate to reach out to us at support@cloudev-solutions.com. We're always here to help.
    </p>
  </body>
</html>
